<!DOCTYPE html>
<html>
    <head>
        <title>Doctor's Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
      </head>

      <body>
        <div class="container mt-5">
          <nav class="nav nav-pills nav-fill">
            <a class="nav-link active" aria-current="page" href="/doctor">Doctor</a>
            <a class="nav-link" href="/assistant">Assistant</a>
            <a class="nav-link" href="#">Advise</a>
          </nav>
          <br/>
          <h1 style="color:white">Doctor's Dashboard</h1>
          <nav class="nav nav-pills nav-fill">
            <a class="nav-link" href="#">Get info</a>
            <a class="nav-link" href="#">Prescription </a>
            <a class="nav-link "  href="#">Suggestion</a>
            <a class="nav-link" href="#">Notes</a>
          </nav>
        </div>
        <body>
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Patient Information</h5>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            
      
      
        
      </body>

</html>